<phpunit bootstrap="bootstrap.php" colors="true">

    <testsuite name="LeanCharts TestSuite">
        <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../lib/</directory>
            <exclude>
                <file>../lib/helpers.php</file>
                <file>../lib/SimpleLog.class.php</file>
                <file>../lib/SimpleLog_Receiver.class.php</file>
                <file>../lib/SonarStat.class.php</file>
                <file>../lib/SonarStatManager.class.php</file>
                <directory suffix=".php">../lib/vendors</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="./log/testdox.html" />
    </logging>

</phpunit>