/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Dashboard
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.container {
    margin-top: 20px;
}



/* -----------------------------------------
   Dashboard
----------------------------------------- */

.graph-row {
    margin-bottom: 30px;
}

/* Event Page */

#event-list {
    border-right: 1px dotted #ccc;
}