[app]
notification.default = email
notification.from = notify@domain.com
notification.name = LeanCharts Notifier

[database]
db.host = localhost
db.user = root
db.pass = root
db.name = lean_charts
db.port = 3307